.main-content-message {
    margin-top: 90px;
}

.userad-logo {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 9px 10px -10px 0px !important;
}

.main-message-a {
    display: contents;
    text-align: right;

}

.main-user-name {
    font-weight: bold;
    font-size: x-large;
    color: #009688;
}

.ellipsis-txt {
    white-space: nowrap;
    margin: -19px 32px 0px 19px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: larger;
    color: #878787;
}

.main-message-div {
    border-bottom: 2px solid #039789;
    height: 80px;
    margin: 0px 0px -31px 0px;
}

.user-selected {
    background: aquamarine;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.user-message-a {
    text-align: center;
    margin-top: 30px;
}

.show-message-div {
    margin-top: 30px;
}

.scroll-headmsg {
    max-height: 33vh;
    overflow: hidden;
    overflow-y: auto;
}

.scroll-headmsg::-webkit-scrollbar-thumb {
    background-color: rgb(0 168 132);
}

.scroll-headmsg::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
}

.time-publish {
    /* padding: 0px 15px 0px; */
    color: #919191;
    font-size: 14px;
}


.sender-msg {
    border-top-left-radius: 0;
    background: #009688;
    color: #fff;
    border-radius: 15px;
    position: initial;
    margin: 10px 35px 10px 0px;
}

.radius13 {

    border-radius: 13px;
}

.reciever-msg {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    border-top-right-radius: 0;
    color: #454444;
    border-radius: 15px;
}

._scroll {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;

}

.messages {
    padding: 5px;
    border-radius: 13px;
    background-image: linear-gradient(to right, #e9e9e9, #7fffd4);
}

._scroll::-webkit-scrollbar-thumb {
    background-color: rgb(0 168 132);
}

._scroll::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
}

.margin-bottom-msg {
    margin: 0px 0px 70px 0px;
}

.margin-10 {
    margin: 10px;
}

.txt-message {
    color: #7d7d7d;
    white-space: pre-wrap !important;
    font-size: 16px;
    padding: 0px 5px 0px 5px !important;
    /*  margin: 10px; */
    line-height: initial;
    min-width: 200px;
    font-weight: bold;
}

.reciever {
    margin-bottom: 10px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    /* max-width: max-content; */
    width: 90%;
    float: right;
    text-align: right;
    display: block;
    margin-right: 5px !important;
}


.sender {
    margin-bottom: 10px;
    max-width: max-content;
    float: left;
    text-align: left;
    color: #fff;
    /*  margin-right: -14px !important; */
    /*  padding: 0px !important; */
}