.main-content {
    margin-top: 125px;
}

.button-manage {
    background: #009688;
    color: white;
    border-radius: 5px;
    padding: 1px;
}
.center {
    text-align: center;
}
.x-large {
    font-size: x-large;
}
.table-tr {
    border: 1px solid #009688;
    text-align: center;
    font-size: small;
  }
  .table-hr {
  
    text-align: center;
    background-color: #009688;
    color: white;
    border-radius: 5px;
  }
.margin-save {
    margin: 10px 0px 60px 10px;
}
.main-color {
    color: #009688;
  }
  .m-top10 {
    top: 10px;
  }
.max-width {
    max-width: none;
}

.max-width-item {
    display: contents;
}

.main-buttons {
    flex-flow: row-reverse;
    margin: 5px 10px 15px 0px;
    overflow: scroll;
}

.error-item {
    display: contents;
}

.no-ads-text {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #009688;
}

.errors {
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}