.main-padding {
    padding-top: 125px;
}

.cover {
    height: 170px;
    width: -webkit-fill-available;
}

.profile-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 130px;
    left: 145px;
}
.main-color {
    color: #009688;
  }
.my-content {
    margin: 0px 0px 50px 0px;
}

.online-badge {
    width: 20px;
    border: 1px solid white;
    height: 20px;
    background: #2fdb6b;
    display: block;
    position: absolute;
    margin-top: 25px;
    margin-left: 40%;
    border-radius: 50%;
}

.offline-badge {
    background: rgb(121, 131, 152) !important;
}