<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar
    class="row border text-right main-padding"
    *ngIf="!content.$accept"
  >
    <p class="bold font-29 main-color">إتفاقية العمولة</p>

    <p class="deal_1 font-23">بسم الله الرحمن الرحيم</p>
    <p class="deal_1 font-23">
      قال الله تعالى :
      <b class="bold"
        >" وَأَوْفُواْ بِعَهْدِ اللهِ إِذَا عَاهَدتُّمْ وَلاَ تَنقُضُواْ
        الأَيْمَانَ بَعْدَ تَوْكِيدِهَا وَقَدْ جَعَلْتُمُ اللهَ عَلَيْكُمْ
        كَفِيلاً "</b
      >
      صدق الله العظيم
    </p>
    <div>
      <p class="bold deal_1 font-23">
        * اتعهد واقسم بالله أنا المعلن أن أدفع عمولة الموقع وهي 1% من قيمة البيع
        سواء تم البيع عن طريق الموقع أو بسببه.
      </p>
      <p class="bold deal_1 font-23">
        * كما أتعهد بدفع العمولة خلال 10 أيام من استلام كامل مبلغ المبايعة.
      </p>
    </div>
    <p class="main-color font-21">
      ملاحظة : عمولة الموقع هي على المعلن ولا تبرأ ذمة المعلن من العمولة إلا في
      حال دفعها.
    </p>
    <div class="row center"></div>
    <ion-button (click)="content.$accept = true" color="success" expand="block">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      موافق
    </ion-button>
  </ion-toolbar>
  <ion-toolbar
    class="row border text-right main-padding"
    *ngIf="content.$accept"
  >
    <div class="category-list" *ngIf="!content.$select_category">
      <div
        class="category"
        (click)="selectStep(cat,'main_category')"
        *ngFor="let cat of top_category_list"
      >
        <img src="{{cat.image_url}}" alt="" />
        <p>{{cat.name_ar}}</p>
      </div>
    </div>
    
  </ion-toolbar>
</ion-content>
