<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
       
      </ion-buttons>

      <ion-title>
        <img [src]="isite.db.setting.logo" />
        <h1>{{ isite.db.setting.site_name }}</h1>
      </ion-title>

      <ion-buttons slot="end">
        <ion-back-button ></ion-back-button>
        <ion-button size="small">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
        <ion-menu-button autoHide="false"></ion-menu-button>
        <!-- <ion-button (click)="menu()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button> -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-app-content" side="end" type="overlay">
    <div class="menu">
      <ion-item lines="full">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Top Items</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/images/logo.png" />
        </ion-avatar>
        <ion-label> Avatar Item </ion-label>
      </ion-item>
      <ion-button expand="block" (click)="login()">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>تسجيل دخول</ion-label>
      </ion-button>
    </div>
  </ion-menu>

  <ion-router-outlet id="main-app-content"></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="login()">
      <ion-icon name="search"></ion-icon>
      <ion-label>بحث</ion-label>
    </ion-tab-button>

    <ion-tab-button id="open-modal">
      <ion-icon name="heart"></ion-icon>
      <ion-label>المفضله</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon class="add-ads" name="add-circle" (click)="CreateNewAd()"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>خريطه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>الرسائل</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
