.main-padding-register {
  margin-top: 125px;
}

.title-uploadimg {
  position: relative;
  top: 75px;
  margin: 6px;
  font-weight: bold;
  color: #009688;
}
.center {
  text-align: center;
}
.upload-img {
  padding: 5px 5px 0px 5px;
  border-radius: 50%;
  width: 100%;
  text-align: center;
}
.main-color {
  color: #009688;
}

.deal {
  text-align: right;
  margin: 10px;
}
.errors {
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 5px;
}
