.main-padding-notific {
  padding-top: 125px;
}
.notific-label {
  text-align: center;
  color: #009688;
  font-weight: bold;
  font-size: 25px;
}
.main-color {
  color: #009688;
}
.notific-buttons {
  margin: 5px;
  text-align: right;
}
.font-18 {
  font-size: 18px !important;
}
.margin-footer-notific {
  margin: 5px 0px 50px 0px;
}
.font-16 {
  font-size: 16px !important;
}
.half-modal {
  top: 330px;
  height: 50%;
}
.bg_notific {
  background-image: linear-gradient(to right, #e9e9e9, #7fffd4);
}
.div-notif {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  text-align: right; 
}
