<ion-app id="main-content">

  <ion-content>
    <div class="tags">
      <ion-item class="tag-list">
        <ion-col *ngFor="let top_category of top_category_list">
          <a class="tab_link" href="">
            <img class="userImage" src="{{top_category.image_url}}" />
            <p class="category-name">{{top_category.name_ar}}</p>
            </a
          >
        </ion-col>
      </ion-item>
    </div>
    <ion-list>
      <ion-item
        button
        *ngFor="let content of isite.db.contentList"
        [routerLink]="['/content-details']"
        [queryParams]="{id: content.id}"
      >
        <ion-avatar slot="start">
          <img [src]="content.image_url" />
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h3>{{ content.name }}</h3>
          <p class="time-publish">
            {{content.$time}} <ion-icon name="time-outline"></ion-icon>
          </p>
        </ion-label>
        <!-- ion-badge -->
        <ion-label slot="end">
          <div *ngIf="content.set_price == 'yes'">
            <ion-row *ngFor="let q of content.quantity_list">
              <p class="price">
                <span *ngIf="q.discount > 0" class="line-through red"
                  >{{q.price}} {{q.currency.name_ar}}</span
                >
                <span class="green"> {{q.net_value}} </span>
                {{q.currency.name_ar}}
                <span *ngIf="q.unit.id"> / {{q.unit.name_ar}} </span>
              </p>
              <p class="save-money" *ngIf="q.discount > 0">
                وفر {{q.discount}}
                <span *ngIf="q.discount_type == 'percent'"> % </span>
                <span *ngIf="q.discount_type == 'number'"> $ </span>
              </p>
            </ion-row>
          </div>
          <p class="time-publish text-right" *ngIf="content.address.country.id">
            {{content.address.country.name_ar}} {{content.address.gov.name_ar}}
            <ion-icon name="location-outline"></ion-icon>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>
