<ion-app id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img [src]="isite.db.setting.logo" />
        <h1>{{isite.db.setting.site_name}}</h1>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true">
    <ion-list>
      <ion-item
        button
        *ngFor="let content of isite.db.contentList"
        [routerLink]="['/content-details' ]"
      >
        <ion-avatar slot="start">
          <img [src]="content.image_url" />
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h3>{{ content.name }}</h3>
          <p>{{ content.date | date:'y' }}</p>
        </ion-label>

        <ion-badge slot="end"> 100 </ion-badge>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <ion-menu contentId="main-content" side="end" type="overlay">
    <div class="menu">
      <ion-item lines="full">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Top Items</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/images/logo.png" />
        </ion-avatar>
        <ion-label> Avatar Item </ion-label>
      </ion-item>
    </div>
  </ion-menu>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="login()">
      <ion-icon name="search"></ion-icon>
      <ion-label>بحث</ion-label>
    </ion-tab-button>

    <ion-tab-button id="open-modal">
      <ion-icon name="heart"></ion-icon>
      <ion-label>المفضله</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon class="add-ads" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>خريطه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>الرسائل</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Daniel Smith</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Greg Smith</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Zoey Smith</h2>
              <p>CEO</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-app>
