:host {
  --theme: #009688;
}
ion-toolbar{
  --background: var(--theme);
  --color : #fff;
  h1{
    color: #fff;
    margin: 10px;
  }
  img {
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 5px;
    float: left;
    margin: 10px;
  }
}
ion-content {
  h1 {
    text-align: center;
    color: #fff;
  }
  ion-button {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    width: 50vw;
    font-size: 22px;
  }
}

ion-menu {
  margin-top: 50px;
  margin-bottom: 50px;
}
ion-avatar img {
  width: 32px;
  height: 32px;
  margin: 0;
}
ion-list {
  background: transparent;
}
.add-ads {
  transform: scale(2.5);
  color: var(--theme);
}
.menu {
  display: block;
  background: #222428;
  height: 100%;
}

.tabs-inner {
  flex: 0 !important;
}
