<ion-menu contentId="main-content">
  <div class="menu">
    <ion-item lines="full">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Top Items</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/images/logo.png" />
      </ion-avatar>
      <ion-label>
        Avatar Item
      </ion-label>
    </ion-item>
  </div>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title >
        <img [src]="isite.db.setting.logo" />
        <h1>{{isite.db.setting.site_name}}</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
   
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="add" (click)="addContent()">
        <ion-icon class="add-ads" name="add-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
