:host {
  --theme: #009688;
}

ion-toolbar{
  --background: var(--theme);
  --color : #fff;
  h1{
    color: #fff;
    margin: 10px;
  }
  img {
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 5px;
    float: left;
    margin: 10px;
  }
}
.price {
  width: 100% !important;
  text-align: right;
  padding: 0;
  font-size: 12px;
}

.line-through {
  text-decoration: line-through;
}

.save-money {
 font-size: x-small;
}
ion-content {
 
  h1 {
    text-align: center;
    color: #fff;
  }
  ion-button {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    width: 50vw;
    font-size: 22px;
  }
}

ion-menu {
  margin-top: 0px;
  margin-bottom: 0px;
}
ion-avatar img {
  width: 32px;
  height: 32px;
  margin: 0;
}
ion-list {
  background: transparent;
}
.add-ads {
  transform: scale(2.5);
  color: var(--theme);
}
.menu {
  display: block;
  background: #222428;
  height: 100%;
}

.tabs-inner {
  flex: 0 !important;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
