.main-padding-forget {
  margin-top: 125px;
}
.errors {
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 5px;
}
