<ion-header class="main-padding-forget">
  <ion-toolbar>
    <ion-title>إعادة كلمة السر</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="main-color"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!mailer.$send_code">
    <ion-list>
      <ion-item>
        <ion-label>إدخل جوالك أو بريدك</ion-label>
        <ion-input
          [clearInput]="true"
          label="إدخل جوالك أو بريدك"
          [(ngModel)]="mobile_or_email"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="sendCode()" expand="block" color="medium">
      <ion-icon name="reload-outline"></ion-icon>
      <ion-label>إستعادة</ion-label>
    </ion-button>
  </div>
  <div *ngIf="mailer.$send_code && !mailer.$confirm_code">
    <ion-list>
      <ion-item>
        <ion-label>إدخل الكود المرسل</ion-label>

        <ion-input
          [clearInput]="true"
          label="إدخل الكود المرسل"
          [(ngModel)]="mailer_code"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="checkSecretCode()" expand="block" color="medium">
      <ion-icon name="play-forward-outline"></ion-icon>
      <ion-label>إستمرار</ion-label>
    </ion-button>
    <ion-button (click)="resendCode()" expand="block" color="warning">
      <ion-icon name="reload-outline"></ion-icon>
      <ion-label>إعادة إرسال الرمز</ion-label>
    </ion-button>
  </div>
  <div *ngIf="mailer.$confirm_code">
    <ion-list>
      <ion-item>
        <ion-label>كلمة السر الجديدة</ion-label>
        <ion-input
          [clearInput]="true"
          label="كلمة السر الجديدة"
          [(ngModel)]="new_password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="setNewPassword()" expand="block" color="medium">
      <ion-icon name="play-forward-outline"></ion-icon>
      <ion-label>حفظ</ion-label>
    </ion-button>
  </div>
  <p class="errors" *ngIf="mailer.$error">{{mailer.$error}}</p>
</ion-content>
